body {
    width: 100%;
    margin: 0 auto;
    font-family: "Helvetica", "Arial", sans-serif;
    line-height: 1.5;
    padding: 0;
    color: #DDD;
    background-color: black;
}

body {
    background-color: black;
    color: white;
}

a:link {
    color: white;
}

a:visited {
    color: white;
}

/* begin table flattening */
table, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

tr {
    display: contents;
    font-size: 0; /* discard whitespace in the markup by making it take no space */
}

td {
    display: none;
}

td[valign="center"] {
    display: initial;
}

[alt="Title Banner"] {
    display: none;
}

#table-poster {
    display: none;
}

/* copied from index.list.html */
img {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}

@media (max-width: 1632px) {
    img {
        width: 20%;
    }
}

@media (max-width: 1312px) {
    img {
        width: 25%;
    }
}

@media (max-width: 992px) {
    img {
        width: 33%;
    }
}

@media (max-width: 672px) {
    img {
        width: 50%;
    }
}

@media (max-width: 352px) {
    img {
        width: 100%;
    }
}