body {
    width: 100%;
    margin: 0 auto;
    font-family: "Helvetica", "Arial", sans-serif;
    line-height: 1.5;
    padding: 1em 1em;
    color: #DDD;
    background-color: black;
}

img {
    max-width: 5.3vw;
}

#list-poster {
    display: none;
}

td {
    padding: 0px;
    border: 0px solid black;
}

table {
    border-collapse: collapse;
    border: 10px solid black;
}

body {
    background-color: black;
    color: white;
}

a:link {
    color: white;
}

a:visited {
    color: white;
}